.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    position: relative;
}

.startCampaignButton {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 18px 24px;
    font-weight: bold;
    font-size: 14px;
}

#navbarIcons {
    font-size: 24px;
}

.logoText {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.searchOverlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
@media only screen and (max-width:600px){
    .logoText{
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%,0%);
        font-size: 20px;
    }
    #navbarIcons{
        font-size: 20px;
    }
}