@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    scroll-behavior: smooth;
}
:root{
    --primary: #00acee;
}

.primary{
    background-color: var(--primary);
    color: #f5f5f5;
}

.border-primary{
    border-color: var(--primary);
}

.border-primary-hover:hover{
    background-color: var(--primary);
    color: white;
    transition: 0.25s ease;
}

.text-primary {
    color: var(--primary);
}

.badge{
    box-shadow: 0 -2px 2px 0px rgba(0, 0, 0, 0.2);
}

.badge::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #0098d5;
    top: -8px;
    left: 0;
    border-top-left-radius: 50%;
    z-index: -1;
}

.glass {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px){
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .grid3 {
        grid-template-columns: 1fr;
    }
}